body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

header {
    padding: 2rem;
}

li {
    list-style: none;
}



.profile {
    display: flex;

}


.profile-pic {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-name {
    margin: 1rem;

}

.postBox {
    width: 50rem;
    height: 25rem;
    margin: 2rem auto;
    border: 2px solid #d0d7de;
    border-radius: 6px;
    position: relative;
}

.profile {
    padding: 1.5rem;
    border-bottom: 1px solid #d0d7de;
}

.post {
    padding: 3rem;
    font-size: 18px;
}

.postCaption {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-size: 14px;

}



.postButton {
    border: 0;
    color: blue;
    background: #fff;

}

.check {
    position: absolute;
    bottom: 34px;
    right: 9px;
    outline: none;
    color: green;
}

/* @media screen and (max-width: 1000px) {
    .containerBox {
        display: flex;
        flex-wrap: wrap;
        background-color: red;
    }
} */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.summary {
    border: 1px solid black;
    padding: 2rem
}